* 
{
box-sizing: border-box;
}

@font-face { 
    font-family: "Mart"; 
    src: url(../fonts/Mart.ttf);
}

@font-face { 
    font-family: "Aligrah SemiBold"; 
    src: url(../fonts/Aligarh-SemiBold.ttf);
}

@font-face { 
    font-family: "Romely Medium"; 
    src: url(../fonts/Romely-Medium.ttf);
}

@font-face { 
    font-family: "Gramers Medium"; 
    src: url(../fonts/Gramers-Medium.ttf);
}

@font-face { 
    font-family: "Gramers Light"; 
    src: url(../fonts/Gramers-Light.ttf);
}

body{
    background-color: #E8E6DA;
}

a{
    text-decoration: none;
    color: black;
}


/*Header*/
header{
    display: flex;
    justify-content: center;
}

.header-content{
    margin-top: 30px;
    width: 1200px;

    display: flex;
    justify-content: space-between;
}

.header-content > h2 {
    font-family: "Aligrah SemiBold";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
}

.hamburger-menu{
    display: flex;
    align-items: center;
}

/*Main*/
main{
    display: flex;
    justify-content: center;

    margin-bottom: 34px;
}

.container{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.main-left{
    display: flex;
}

.main-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*main-left*/
.media-content{
    width: 96px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.model-photo{
    margin-left: 58px ;
    margin-top: 15px;
    margin-right: 66px;
}

.model-photo > img {
    border-radius: 160px;
}

/*main-right*/

/*upper*/
.upper{
    height: 320px;
}

.upper > h1{
    display: flex;
    align-items: flex-end;

    font-family: "Romely Medium";
    font-size: 72px;
}

.model-sm-text{
    color: #c5975b;
}

.landscape{
    margin-left: 69px; 
    display: flex;
}

.landscape >h2{
    font-size: 72px;
}

.land{
    font-family: "Romely Medium";
}

.scape{
    font-family: "Gramers Light";
}

.text-with-hr{
    display: flex;
    align-items: center;
}

.text-with-hr >h2{
    font-family: "Romely Medium";
    font-size: 72px;
}

.horizontal-row{
    width: 148px;
    height: 4px;
    
    background-color: black;

    margin-right: 10px;
    margin-left: 16px;
}

.model-photo-sm > img{
    border-radius: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

/*lower*/
.lower{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-text{
    width: 194px;

    margin-left: 18px;
}

.info-text > p{
    font-family: "Mart";
    font-size: 12px;
    line-height: 24px;
}

.more-button{
    margin-left: 92px;

    height: 58px;
    width: 268px;
    background-color: #DEDACE;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: "Mart";
    font-size: 14px;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 148px;
    border-top: solid 2px;
    border-bottom: solid 2px;

    margin-bottom: 30px;
}

.footer-content{
    width: 1280px;
    height: 98px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left{
    width: 315px;

    display: flex;
    justify-content: center;
}

/* footer-left*/
.footer-left > p{
    text-align: center;
    font-family: "Romely Medium";
    font-size: 16px;
    line-height: 18px;
}

/* footer-middle*/
.footer-middle{
    width: 650px;
    height: 100%;

    border-left: solid 2px;
    border-right: solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-middle > nav > ul{
    width: 370px;

    display: flex;
    justify-content: space-between;
}

.footer-middle > nav > ul > li{
    display: inline;

    font-family: "Mart";
    font-size: 14px;
}

/* footer-right*/
.footer-right{
    width: 315px;

    display: flex;
    justify-content: center;
}